<header class="site-header">
	<div class="col-xs-10 col-md-3 animated fadeInDown namebox" id="box">
		<h1 class="title"><a href="{{ site.baseurl }}/">{{ site.title }}</a></h1>
		<div class="saying" >
			<p><i>{{ site.description }}</i></p>
		</div>
		<hr />
 	  <ul class="navigation">
			<li><h4><a href="/about/">About</a><span class="gray-text"></h4></li>
			<li><h4><a href="/analysis/">Analysis</a><span class="gray-text"></h4></li>
			<li><h4><a href="/archive/">Archive</a><span class="gray-text"></h4></li>
			<li><h4><a href="{{ "/feed.xml" | prepend: site.baseurl }}">RSS</a></h4></li>
	  </ul>
		<hr />
    <ul class="social-media-list">
      {% if site.email %}
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
      {% endif %}
      {% if site.github_username %}
      <li>
        {% include icon-github.html username=site.github_username %}
      </li>
      {% endif %}

      {% if site.twitter_username %}
      <li>
        {% include icon-twitter.html username=site.twitter_username %}
      </li>
      {% endif %}
    </ul>
	</div>
</header>

